/node_modules
/public/hot
/public/storage
/public/css
/public/js
/storage/*.key
/vendor
/.idea
/.vagrant
database.sqlite
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/purify
/.vscode
.php_cs.cache